ion-header {
  --background: #3880ff;
  --color: white;
}

ion-toolbar {
  --background: transparent;
}

ion-title {
  text-transform: uppercase;
  font-weight: bold;
}

ion-content {
  --background: #f4f4f9;
  padding: 16px;
}

/* Container styles */
.container {
  margin: 20px 0;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container .list-show {
  margin-top: 10px;
}

.container .content {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.container .content:last-child {
  border-bottom: none;
}


.log-out-btn {
  position: absolute;
  bottom: 70px;
  left: 15px;
}

ion-fab-button {
  --background: #3880ff;
}

ion-fab-button ion-icon {
  color: white;
}

ion-fab-list ion-fab-button {
  --background: #f4f4f9;
}

ion-fab-list ion-fab-button ion-icon {
  color: #3880ff;
}
