<ion-header>
  <ion-toolbar>
    <ion-title>HOME PAGE</ion-title>
  </ion-toolbar>
</ion-header>
<div class="container">
  <h1>GAME LIST CRUD</h1>
  <div class="content" *ngFor="let user of userList">
    <div class="content-box">
      <div class="content-all">
 
        <ion-card>
        <h2>Genre: {{user.genres}} </h2>
        <h2>Game Name: {{user.gamename}} </h2>
        <h2>Publisher: {{user.publisher}} </h2>
        <h2>Ratings: {{user.ratings}} </h2>
        <h2>Completed: {{user.isCompleted}} </h2>
        <h2>Released Date: {{user.released}} </h2>
        </ion-card>
 
      </div>
      <div class="button">
        <ion-button color="success" (click)="update(user)"><ion-icon name="create-outline"></ion-icon></ion-button>
        <ion-button color="danger" (click)="delete(user)"><ion-icon name="trash-outline" *ngIf="user.id"></ion-icon></ion-button>
      </div>
    </div>
  </div>

</div>

<div class="log-out-btn">
  <ion-fab-button (click)="logOut()">
    <ion-icon name="log-out" color="dark"></ion-icon>
  </ion-fab-button>
</div>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addUser()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
