<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item>
    <ion-icon name="log-out-outline"></ion-icon>
    <a style="text-decoration: none; color: black; padding-left: 20px;" href="login">LOGOUT</a>
  </ion-item>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="header-background-color">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content class="content-color">
    

  <div class="container">
    <strong>DEVELOPERS PORTFOLIO CONTENT</strong>
    
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu Bar</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="log-out-outline">LOGOUT</ion-content>
      <a style="text-decoration: none; text-align: center; color:  white; justify-content: center; padding-top: 25px; font-size: 5px;" href="login">LOGOUT</a>
    </ion-menu>
  </div>

  <ion-card>

    <ion-card-header>
      <img src="assets/Em.jpg">
      <ion-card-title><strong>John Joseph A. Cruz</strong></ion-card-title>
      <ion-card-subtitle><strong>Brief Description</strong></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      A second-year college in Pamantasan ng Lungsod ng Valenzuela under the field of Bachelor of Science in Information Technology.
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-subtitle><strong>Hobbies</strong></ion-card-subtitle>
      <ion-card-content>
        Play Online Games and Sports such as Volleyball and Basketball.
      </ion-card-content>
      <ion-card-subtitle><strong>Likes</strong></ion-card-subtitle>
      <ion-card-content>
        To have a beverage drink when playing online games.
      </ion-card-content>
      <ion-card-subtitle><strong>Talents</strong></ion-card-subtitle>
      <ion-card-content>
        None or doesn't discover it yet.
      </ion-card-content>
      <ion-card-subtitle><strong>Skills</strong></ion-card-subtitle>
      <ion-card-content>
       Fast learner.
      </ion-card-content>
    </ion-card-header>
  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title><strong>How Do You See Yourself in 5 Years Ago</strong></ion-card-title>
      <ion-card-subtitle><strong>Working & Enjoying Life</strong></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> 
    Working on a company, while performing daily healthy habits,
    still can play both sports and online games and continue to discover and learn all about 
    the challenges of what life may bring.
      
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title><Strong>Strength And Weaknesses</Strong></ion-card-title>
      <ion-card-subtitle><Strong>Strength</Strong></ion-card-subtitle>
      <ion-card-content>
        Always honest, motivated, and have the ability to adapt to a certain situation.
      </ion-card-content>

      <ion-card-subtitle><Strong>Weaknesses</Strong></ion-card-subtitle>
      <ion-card-content>
        have low confidence in both becoming a leader and public speaking. Sometimes I have trouble with time management 
        because of uncertain events and a lack of experience.
      </ion-card-content>

    </ion-card-header>
    
  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title><strong>Motto</strong></ion-card-title>
      <ion-card-subtitle><strong>When you feel like quitting, think about why you started.</strong></ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title><strong>Love Language</strong></ion-card-title>
      <ion-card-subtitle><strong>Quality Time</strong></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Because of the motto "Time is Gold," meaning if you both have time for each other, 
      doing the other love languages can be achieved easily. 
      To elaborate, more quality time is like the first step.
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title><strong>Kung pagkain ka ano ka?</strong></ion-card-title>
      <ion-card-subtitle><strong>Sili(Chili)</strong></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Ang hot ko kasi.
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title><strong>Pet Peeve</strong></ion-card-title>
      <ion-card-subtitle>Annoyance of making me rushed and rude attitude</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>
